@import "tailwindcss";

@theme {

  --color-primary-50: #f9f3ee;
  --color-primary-100: #eddacc;
  --color-primary-200: #e0c2aa;
  --color-primary-300: #d4a988;
  --color-primary-400: #c89165;
  --color-primary-500: #bc7843;
  --color-primary-600: #9a6337;
  --color-primary-700: #774d2b;
  --color-primary-800: #55371f;
  --color-primary-900: #332112;
  --color-primary-950: #110b06;

  --color-accent: #f0d6ba;

  --font-heading: var(--font-moglan);
  --font-body: var(--font-manrope);
}

@layer base {
  body {
    @apply overflow-x-hidden bg-white font-body leading-normal text-neutral-800;
  }

  html {
    @apply scroll-smooth;
  }

  :target {
    scroll-margin-top: 6.5rem;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-heading font-medium leading-snug text-black;
  }

  button {
    @apply cursor-pointer outline-none focus:outline-none;
  }

  :is(input, textarea, select, button) {
    @apply outline-none focus:outline-none;
  }

  ::selection {
    @apply bg-primary-500 text-white;
  }

  ::-webkit-scrollbar {
    @apply w-2.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-400 rounded-none;
  }
}

@layer utilities {
  .container {
    @apply w-full mx-auto max-w-full px-4 sm:px-5 md:px-6 lg:px-10 md:max-w-180 lg:max-w-245 xl:max-w-7xl 2xl:max-w-360;
  }
}
